{{define "feedlist"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSSmanager</title>
    <link rel="stylesheet" href="tmp/css/feedlist.css">
</head>
<body>
    <div class="login">
        <h1>RSSURL管理</h1>
        <form id="form-block" method="post">
            <div class="additem">入力欄を増やす</div>
            <button type="submit">保存</button>
            {{ range .}}
            <div class="item">
                <input type="text" value={{.Rss_URL}} name="rssURL"><span class="close-icon">✖</span>
            </div>
            {{end}}
          </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="tmp/js/feedlist.js"></script>
</body>
</html>
{{end}}